# Foundations of Data Science Project - Diabetes Analysis

---------------
## Context
---------------

Diabetes is one of the most frequent diseases worldwide and the number of diabetic patients are growing over the years. The main cause of diabetes remains unknown, yet scientists believe that both genetic factors and environmental lifestyle play a major role in diabetes.

A few years ago research was done on a tribe in America which is called the Pima tribe (also known as the Pima Indians). In this tribe, it was found that the ladies are prone to diabetes very early. Several constraints were placed on the selection of these instances from a larger database. In particular, all patients were females at least 21 years old of Pima Indian heritage. 

-----------------
## Objective
-----------------

Here, we are analyzing different aspects of Diabetes in the Pima Indians tribe by doing Exploratory Data Analysis.

-------------------------
## Data Dictionary
-------------------------

The dataset has the following information:

* Pregnancies: Number of times pregnant
* Glucose: Plasma glucose concentration over 2 hours in an oral glucose tolerance test
* BloodPressure: Diastolic blood pressure (mm Hg)
* SkinThickness: Triceps skin fold thickness (mm)
* Insulin: 2-Hour serum insulin (mu U/ml)
* BMI: Body mass index (weight in kg/(height in m)^2)
* DiabetesPedigreeFunction: A function that scores the likelihood of diabetes based on family history.
* Age: Age in years
* Outcome: Class variable (0: a person is not diabetic or 1: a person is diabetic)

## Q 1: Import the necessary libraries and briefly explain the use of each library (3 Marks)

In [2]:
# Remove _____ & write the appropriate library name

import numpy as np

import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt

%matplotlib inline

#### Write your Answer here:

Ans 1:

## Q 2: Read the given dataset (2 Marks)

In [16]:
# Remove _____ & write the appropriate function name

pima = pd.read_csv("diabetes.csv")

## Q3. Show the last 10 records of the dataset. How many columns are there? (2 Marks)

In [19]:
# Remove ______ and write the appropriate number in the function

pima.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1,106,76,20,79,37.5,0.197,26,0
759,6,190,92,20,79,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,79,44.0,0.403,43,1
762,9,89,62,20,79,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,79,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,20,79,30.1,0.349,47,1
767,1,93,70,31,79,30.4,0.315,23,0

#### Write your Answer here:

Ans 3:

## Q4. Show the first 10 records of the dataset (2 Marks)

In [20]:
# Remove _____ & write the appropriate function name and the number of rows to get in the output

pima.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,79,33.600000,0.627,50,1
1,1,85,66,29,79,26.600000,0.351,31,0
2,8,183,64,20,79,23.300000,0.672,32,1
3,1,89,66,23,94,28.100000,0.167,21,0
4,0,137,40,35,168,43.100000,2.288,33,1
5,5,116,74,20,79,25.600000,0.201,30,0
6,3,78,50,32,88,31.000000,0.248,26,1
7,10,115,69,20,79,35.300000,0.134,29,0
8,2,197,70,45,543,30.500000,0.158,53,1
9,8,125,96,20,79,31.992578,0.232,54,1

## Q5. What do you understand by the dimension of the dataset? Find the dimension of the `pima` dataframe. (3 Marks)

In [22]:
# Remove _____ & write the appropriate function name

pima.shape

(768, 9)

#### Write your Answer here:

Ans 5:

## Q6. What do you understand by the size of the dataset? Find the size of the `pima` dataframe. (3 Marks)

In [23]:
# Remove _____ & write the appropriate function name

pima.size

6912

#### Write your Answer here:

Ans 6:

## Q7. What are the data types of all the variables in the data set? (2 Marks)
**Hint: Use the info() function to get all the information about the dataset.**

In [25]:
# Remove _____ & write the appropriate function name

pima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

#### Write your Answer here:

Ans 7:

## Q8. What do we mean by missing values? Are there any missing values in the `pima` dataframe? (4 Marks)

In [30]:
# Remove _____ & write the appropriate function name

pima.isnull().values.any()

False

#### Write your Answer here:

Ans 8:

## Q9. What do the summary statistics of the data represent? Find the summary statistics for all variables except 'Outcome' in the `pima` data. Take one column/variable from the output table and explain all its statistical measures. (5 Marks)

In [ ]:
# Remove _____ & write the appropriate function name

pima.iloc[: , 0 : 8]._______()

#### Write your Answer here:

Ans 9:

## Q 10. Plot the distribution plot for the variable 'BloodPressure'. Write detailed observations from the plot. (2 Marks)

In [ ]:
# Remove _____ & write the appropriate library name

______.displot(pima['BloodPressure'], kind = 'kde')

plt.show()

#### Write your Answer here:

Ans 10:

## Q 11. What is the 'BMI' of the person having the highest 'Glucose'? (2 Marks)

In [ ]:
# Remove _____ & write the appropriate function name

pima[pima['Glucose'] == pima['Glucose']._____()]['BMI']

#### Write your Answer here:

Ans 11:

## Q12.
### 12.1 What is the mean of the variable 'BMI'? 
### 12.2 What is the median of the variable 'BMI'? 
### 12.3 What is the mode of the variable 'BMI'?
### 12.4 Are the three measures of central tendency equal?

### (4 Marks)

In [ ]:
# Remove _____ & write the appropriate function name

m1 = pima['BMI'].____()  # mean
print(m1)

m2 = pima['BMI'].____()  # median
print(m2)

m3 = pima['BMI'].____()[0]  # mode
print(m3)

#### Write your Answer here:

Ans 12:

## Q13. How many women's 'Glucose' levels are above the mean level of 'Glucose'? (2 Marks)

In [ ]:
# Remove _____ & write the appropriate function name

pima[pima['Glucose'] > pima['Glucose']._____()].shape[0]

#### Write your Answer here:

Ans 13:

## Q14. How many women have their 'BloodPressure' equal to the median of 'BloodPressure' and their 'BMI' less than the median of 'BMI'? (2 Marks)

In [ ]:
# Remove _____ & write the appropriate column name

pima[(pima['BloodPressure'] == pima['BloodPressure'].______()) & (pima['BMI'] < pima['BMI']._______())]

#### Write your Answer here:

Ans 14:

## Q15. Create a pairplot for the variables 'Glucose', 'SkinThickness', and 'DiabetesPedigreeFunction'. Write your observations from the plot. (3 Marks)

In [ ]:
# Remove _____ & write the appropriate function name

sns.______(data = pima, vars = ['Glucose', 'SkinThickness', 'DiabetesPedigreeFunction'], hue = 'Outcome')
plt.show()

#### Write your Answer here:

Ans 15:

## Q16. Plot the scatterplot between 'Glucose' and 'Insulin'. Write your observations from the plot. (4 Marks)

In [ ]:
# Remove _____ & write the appropriate function name

sns._______(x = 'Glucose', y = 'Insulin', data = pima)
plt.show()

#### Write your Answer here:

Ans 16:

## Q 17. Plot the boxplot for the 'Age' variable. Are there outliers? (2 Marks)

In [ ]:
# Remove _____ & write the appropriate function and column name 

plt.______(pima['____'])

plt.title('Boxplot of Age')
plt.ylabel('Age')
plt.show()

#### Write your Answer here:

Ans 17:

## Q18. Plot histograms for the 'Age' variable to understand the number of women in different age groups given whether they have diabetes or not. Explain both histograms and compare them. (5 Marks)

In [ ]:
# Remove _____ & write the appropriate function and column name

plt._____(pima[pima['Outcome'] == 1]['_____'], bins = 5)
plt.title('Distribution of Age for Women who has Diabetes')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Remove _____ & write the appropriate function and column name

plt.______(pima[pima['Outcome'] == 0]['_____'], bins = 5)
plt.title('Distribution of Age for Women who do not have Diabetes')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

#### Write your Answer here:

Ans 18:

## Q 19. What is the Interquartile Range of all the variables? Why is this used? Which plot visualizes the same? (5 Marks)

In [ ]:
# Remove _____ & write the appropriate variable name

Q1 = pima.quantile(0.25)
Q3 = pima.quantile(0.75)
IQR = __ - __
print(IQR)

#### Write your Answer here:

Ans 19:

## Q 20. Find and visualize the correlation matrix. Write your observations from the plot. (3 Marks)

In [ ]:
# Remove _____ & write the appropriate function name and run the code

corr_matrix = pima.iloc[ : ,0 : 8].______

corr_matrix

In [ ]:
# Remove _____ & write the appropriate function name

plt.figure(figsize = (8, 8))
sns._______(corr_matrix, annot = True)

# Display the plot
plt.show()

#### Write your Answer here:

Ans 20: